body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2018-03/21/8/asset/buzzfeed-prod-web-06/sub-buzz-8422-1521635812-1.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto'); /* Reemplaza 'tu-imagen.jpg' con la URL de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
  
  /* Contenedor principal del documento */
  .documento {
    width: 600px;
    background-color: #040404;
    border: 2px solid #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Cabecera del documento */
  .header {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Área para la imagen */
  .imagen {
    width: 100%;
    height: 200px;
    background-color: #000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  /* Título o nombre del sujeto */
  .titulo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f9f8f8;
  }
  
  /* Campos de información */
  .info {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f9f9f9;
  }
  
  /* Área para la descripción */
  .descripcion {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
    padding: 10px;
    background-color: #cdcdcd;
    border-left: 4px solid #fefefe;
  }
